BACKEND_PORT=8080
MYSQL_DATABASE=messenger
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_ROOT_PASSWORD=1234
REDIS_PORT=6379
REDIS_USERNAME=messenger_user
REDIS_PASSWORD=1234
INTERNAL_API_KEY=change-me
JWT_SECRET=change-me
INTERNAL_AUTH_BASE_URL=http://localhost:9090
INTERNAL_AUTH_LOGIN_PATH=/api/v1/login
INTERNAL_AUTH_USER_LIST_PATH=/api/v1/getUserList
